.inscriC {
  align-items: center;
  align-content: center;
  padding-left: 350px;
  padding-right: 350px;
  padding-top: 50px;
}
p {
  padding-left: 450px;
  padding-top: 40px;
  margin-left: 60px;
  align-items: center;
  align-content: center;
  color: black;
  text-decoration-style: solid;
}
.buttonS {
  margin-left: 180px;
}
